# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/
docs/_themes/*

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pycharm
.idea/

# VS Code
.vscode/

# Temporary files
*.~ 
*.swp
*.swo

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test coverage
.coverage
.coverage.*
.cache/
.nox/
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# tox
.tox/
.stestr/

# virtualenv
virtualenv/
venv/

# pipenv
Pipfile.lock

# PDM
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Encrypted data
*.secrets

# docker
*.log
*.pid
*.env
*.conf
*.backup
*.swp

# vscode
.vscode/
.history/

